<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/artist.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap">
    <script
        src="https://maps.googleapis.com/maps/api/js?key=API_KEY&libraries=maps,marker&v=beta"
        defer></script>

    <title>{{.Artist.Name}}</title>
</head>

<body>
    <div class="container">
        <!-- header part -->
        <div class="header">
            <p>{{.Artist.Name}}</p>
            <a href="/">Home</a>
        </div>

        <!-- top part -->
        <div class="top-section">
            <img src="{{.Image}}" alt="{{.Name}}">
            <div class="artist">
                <div class="members">
                    <h3>Members:</h3>
                    <ul>
                        {{range .Artist.Members}}
                        <li>{{.}}</li>
                        {{end}}
                    </ul>
                </div>

                <div>
                    <h3>Creation Date:</h3>
                    <ul>
                        <li>{{.Artist.CreationDate}}</li>
                    </ul>
                </div>

                <div>
                    <h3>First Album:</h3>
                    <ul>
                        <li>{{.Artist.FirstAlbum}}</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- bottom part -->
        <div class="bottom-section">
            <div class="location">
                <h3>Concert Location:</h3>
                <ul>
                    {{range .Artist.Location.Location}}
                    <li>{{.}}</li>
                    {{end}}
                </ul>
            </div>

            <div class="dates">
                <h3>Concert Dates:</h3>
                <ul>
                    {{range .Artist.Date.Date}}
                    <li>{{.}}</li>
                    {{end}}
                </ul>
            </div>

            <div class="relation">
                <h3>Locations with Dates:</h3>
                {{range $key, $values := .Artist.Relation.Relation}}
                <ul>
                    <li>{{$key}}:</li>
                    {{range $values}}
                    <li style="list-style: none;">{{.}}</li>
                    {{end}}
                </ul>
                {{end}}
            </div>
        </div>

        <!-- map part -->
        <div class="map">
            <gmp-map center="24.0520276,-15.7035682" zoom="3" map-id="DEMO_MAP_ID" style="height: 400px">
                {{range .Coordinate}}
                <gmp-advanced-marker position="{{.Addr}}" title="{{.Location}}"></gmp-advanced-marker>
                {{end}}
            </gmp-map>
        </div>
    </div>
</body>

</html>